<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="ui placeholder segment custom-container">
    <div class="ui two column very relaxed stackable grid">
      <div class="column">
        <div class="ui form">
          <div class="field">
            <label>First Name</label>
            <div class="ui left icon input">
              <%= f.text_field :first_name, autofocus: true, placeholder: "First Name ..." %>
              <i class="user icon"></i>
            </div>
          </div>
        </div>
        <br>
        <div class="field">
          <label>Last Name</label>
          <div class="ui left icon input">
            <%= f.text_field :last_name, placeholder: "Last Name ..." %>
            <i class="user icon"></i>
          </div>
        </div>
        <br>
        <div class="field">
          <label>Email</label>
          <div class="ui left icon input">
            <%= f.email_field :email, autocomplete: "email", placeholder: "Email ..." %>
            <i class="user icon"></i>
          </div>
        </div>
        <br>
        <div class="field">
          <label>Password <em> (6 characters minimum)</em></label>
          <div class="ui left icon input">
            <%= f.password_field :password, autocomplete: "new-password" , placeholder: "Password"%>
            <i class="lock icon"></i>
          </div>
        </div>
        <br>
        <div class="field">
          <label>Confirm Password</label>
          <div class="ui left icon input">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm password" %>
            <i class="lock icon"></i>
          </div>
        </div>
        <br>
        <%= f.submit "Sign up" ,class: "ui blue submit button orange"%>
      </div>
<% end %>
    <div class="middle aligned column">
        <%= link_to "Log in", new_user_session_path, :method => :get , class: "ui blue submit big button red" %>
    </div>
   </div>

    <div class="ui vertical divider">
      Or
    </div>
  </div>
